.logo img {
    width: 300px;
}
header {
    display: flex;
    width: 100%;
    min-height: 64px;
    justify-content: space-around;
    border-bottom: 1px solid #0e0e0e;
    background-color: #660000;
    
}

.menu nav ul, .social ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.menu nav ul li, .social ul li {
    margin: 0px 12px;
}

.menu, .social {
    display: flex;
    align-items: center;
}

.menu a, .social a {
    text-decoration: none;
    color: #0e0e0e;
}

section.banner {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(img/orquestra\ bonita.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
section.banner .conteudo {
    background-color: rgb(115 53 26 / 80%);
    padding: 12px;
    text-align: center;
}

section.banner .botao {
     margin: 12px;
    background-color: rgb(115 53 26 / 80%);
    padding: 16px;
     border-radius: 12px;
     cursor: pointer;
    }

    section.sobre {
    width: 93%;
    margin: 117px;
    display: flex;
    flex-direction: row;
    }
    
    section.sobre div {
        width: 50vw;
        overflow: hidden;
    }
    
    section.sobre .conteudo {
        margin: 12px 24px;
    }
    
    section.sobre .imagem img {
        width: 100%;
    }
    section.produtoscordas {
        width: 95%;
        margin: 50px;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: row;
        gap: 39px;
    }

    section.produtoscordas img {height: 600px;}


    section.jumbotron {
        width: 100%;
        display: flex;
        flex-direction: row;
        margin: 90px auto;
        gap: 22px;
    }

    .banner-pequeno {
        margin: 0px 25px;
        padding: 18px;
    
    }

   

    section.jumbotron {
        width: 82%;
        display: flex;
        flex-direction: row;
        margin: 90px auto;
        gap: 22px;
        justify-content: center;
    }
    
     section.jumbotron div.banner-pequeno {
        margin: 0px 25px;
        padding: 42px;
        border: 1px solid #d8d8d8;
        border-radius: 6px;
        background: #fafafa;
        width: 100%;
    }
    
    
    section.jumbotron div.banner-pequeno h3, section.formulario h3 {
        font-size: 25px;
        line-height: 0;
    }
    
    section.jumbotron div.banner-pequeno p, section.formulario p {
        font-size: 18px;
        line-height: 57px;
    }
    
    section.jumbotron div.banner-pequeno button, 
    section.formulario #form input[type="submit"]{
        background: transparent;
        border: 1px solid black;
        border-radius: 5px;
        padding: 6px 12px;
        font-size: 18px;
    }

    section.jumbotron div.banner-pequeno.dark button,
    section.jumbotron div.banner-pequeno.dark p,
    section.jumbotron div.banner-pequeno.dark h3{

        color: #fefefe;
        border-color: #fefefe;
    }

    section.jumbotron div.banner-pequeno.dark{
        background-color: #0f0f0f;

    }
    section.jumbotron div.banner-pequeno button:hover,
    section.formulario #form input[type="submit"]:hover{
        background-color: #0e0e0e;
        color:#fefefe;
        border:#fefefe;
    }

    section.jumbotron div.banner-pequeno.dark button:hover{
        background-color:#fefefe;
        color:black;
        border:black;
    }
    section.formulario form#form input {
        width: 100%;
        padding: 6px;
        margin: 6px auto;
    }
    section.formulario form#form input {
        width: 100%;
        padding: 6px;
        margin: 6px auto;
    }
    
    section.formulario form#form {
        width: 45vw;
        margin: 1rem auto;
    }
    
    section.formulario form#form input[type="submit"] {
        width: 180px;
        margin: 6px auto 6px 0px;
    }
    
    section.formulario h3, section.formulario p {text-align: center;}

    footer div.espacamento {
        width: 90%;
        height: 42px;
        border-bottom: 1px solid #adadad63;
        margin: 0px auto;
    }

    footer div.footer-interno {
        display: flex;
        flex-direction: row;
        gap: 6px;
        padding: 24px;
        margin: 12px auto;  
        justify-content: space-around; 
        color: #7c7c7cc7;
    }

    footer div.footer-interno .footer-coluna-1 img {
        width: 300px;
    }

    footer .footer-interno .footer-coluna ul {
        list-style: none;
        padding: 0px;
        padding: 0px;
        margin: 0px;
    }

    footer .footer-interno .footer-coluna ul li {
        margin: 6px auto;
    }
    
    footer .footer-interno .footer-coluna ul li.titulo {
        font-size: 22px;
        font-weight: 800;
        color: #363636;
    }
    header .logo img {
        width: 246px;}

    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
        background-color:#fefefe;
        -webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      }  
      #meuheader .logo img.sticky {
        width: 60px;
        -webkit-animation: fade-in 0.8s cubic-bezier(0.600, 0.040, 0.980, 0.335) both;
        animation: fade-in 0.8s cubic-bezier(0.600, 0.040, 0.980, 0.335) both;
      }  
      .sticky + .content {
        padding-top: 102px;
      }
    
      @-webkit-keyframes fade-in{0%{opacity:0}100%{opacity:1}}@keyframes fade-in{0%{opacity:0}100%{opacity:1}}
    
      @-webkit-keyframes slide-in-top{0%{-webkit-transform:translateY(-1000px);transform:translateY(-1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}@keyframes slide-in-top{0%{-webkit-transform:translateY(-1000px);transform:translateY(-1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}



      section.produtosmetais {
        width: 89%;
        margin: 34px;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: row;
        gap: 32px;
        flex-wrap: wrap;
    }
    section.produtosmetais div {
        width: 40%;
    }

    section.produtosmetais img {height: 250px;}

    section.formulario {
        margin: 9%;
    }

    .menu ul li a, section{
        font-family: 'Ribeye', serif;
    }

    header.header ul li a i {
        font-size: 51px;
    }

    section#sobre p {
        font-family: sans-serif;
    }

    section.produtosmadeiras {
        width: 93%;
        margin: 52px;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: row;
        gap: 120px;
    }

    section.produtosmadeiras img {height: 379px;}

    section.produtosmadeiras2 {
        width: 90%;
        margin: 52px;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: row;
        gap: 120px;
    }

    section.produtosmadeiras2 img {height: 379px;}

    section#sobre p {
        font-family: sans-serif;
        font-size: 19px;
    }

    
    p {
        margin-top: 0;
        margin-bottom: 1rem;
        font-family: system-ui;
    }
